#disqus_thread
  :javascript
    var disqus_config = function () {
      this.page.url = "#{url_for(only_path: false)}";
      this.page.identifier = "#{@recipe.id}";
    };

    (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');

      s.src = '//pieceacake.disqus.com/embed.js';

      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
