= react_component 'RecipeForm', { recipe: @recipe,
                                  components: @recipe.components,
                                  steps: @recipe.steps,
                                  ingredients: Ingredient.all,
                                  authenticity_token: form_authenticity_token,
                                  url: recipes_path }
