%h2= t(".cooked_recipes")
.recipes
  - @cooked_recipes.each do |recipe_attitude|
    .recipe
      %h4= link_to recipe_attitude.recipe.title, recipe_path(recipe_attitude.recipe)
      %ul.components
        - recipe_attitude.recipe.components.each do |component|
          %li.component
            = component.ingredient.name
= will_paginate @cooked_recipes
