.receipts {
  @extend .list-group;
}

.receipt {
  @extend .list-group-item;
}

.components {
  .component {
    display: inline;
  }

  ::after {
    content: ", ";
  }

  :last-child::after {
    content: "";
  }
}
